/*Styling sheet for shopping list using bootstrap*/
body {
    font-family: Source Sans Pro;
    width: 100%;
    height: 100%;
    background-color: #073763;
}


/*homepage*/
.intro{
    margin-top:10%;
}
.intro h1, p {
    color: white;
    
}

.intro h1 {
    font-size: 4em;
    text-align: center;
    font-weight:600;
}

.intro p {
    font-size:2em;
    text-align: center;
    padding-top:10px;
    margin: auto;
    width:60%;
}

.btn-default {
    font-size: larger;
    font-weight: 700;
}

#buttons{
    width: 50%;
    margin: auto;
    margin-top:50px;
}

#button-login {
    float: left;
}

#button-sign-up{
    float:right;
}

.p1-center {
    margin-left:-35px;
    margin-top:10px;
}

.p2-center {
    margin-left: -7px;
    margin-top:10px;
}

