body{
    height: 100%;
    width: 100%;
    background-color: #073763;
}

h1,p {
    color: #ffffff;
}

h1 {
    font-size: 6em;
}

p {
    font-size: 1.5em;
}

#container {
    margin: auto;
    width: 500px;
    padding: 5px;
    text-align: center;
}
.intro {
    margin-top: -30px;
}
#button-login{
    padding-top:50px;
    float: left;
}
#button-login p {
    font-size: 0.7em;
}

#button-sign-up{
    padding-top:50px;
    float:right;
}
#button-sign-up p {
    font-size: 0.7em;
}
